*{
  padding: 0;
  margin: 0;
  font-family: "isocp";
}
/*cabezera*/
h1, h3{
  font-family: "isocp";
  color: white;
}

h1{
  font-size: 75px;
  height: 93px;
}
h3{
  font-size: 30px;
  height: 32px;
}

header{
  height: 274px;
}

.t_logoblanco{
  background: #235168;
  display: -webkit-inline-box;
  width: 100%;
  height: 274px;
}

.logo{
  height: 199px;
}

.logoblanco{
  position: relative;
  right: 75px;
}

.logonegro{
  background: #E6E7E8;
  padding: 37px 57px;
  border-bottom: 1px solid black;
}

.t_l *{
  display: inline-block;
}

.t_l{
  margin: 30px auto;
}

.tyl{
  position: relative;
  bottom: 48px;
  right: 203px;
}

.h3{
  display: block;
}

.center{
  text-align: center;
}
/*cabezera*/

/*seccion cursos*/
.cursos, .lecciones{
  display: inline-block;
}

.contenido{
  height: 700px;
}

.cursos{
  width: 345px;
  height: 100%;
  background: #E6E7E8;
  text-align: center;
}

h2{
  font-size: 20px;
}

.cursos div{
  display: inline-block;
  margin-top: 30px;
}

.img_curso{
  height: 90px;
}

.izquierda{
  margin-right: 10px;
}

.derecha{
  margin-left: 10px;
}

/*seccion cursos*/

/*contenido*/

.lecciones{
  position: absolute;
  width: 1575px;
  height: 690px;

}

.pagina{
  width: 100%;
  height: 100%;
  border: 0;
}
